.vscode
terminal.txt
yt2.py
YT.PY
tempCodeRunnerFile.py
cal.py
CA1.py
desktop.ini
demo.txt
main_programiz.py
YCH_fileopearation2.py
union.py
Compression2.py
Union1.py
Newer.py
game/__pycache__/__init__.cpython-311.pyc
DSA/__pycache__/queue.cpython-311.pyc
game/__pycache__/__init__.cpython-312.pyc
game/characters/__pycache__/__init__.cpython-311.pyc
# .gitignore
game/characters/__pycache__/__init__.cpython-312.pyc
game/characters/__pycache__/boss.cpython-312.pyc
game/characters/__pycache__/boss.cpython-311.pyc
game/characters/__pycache__/player.cpython-312.pyc
game/characters/__pycache__/player.cpython-311.pyc
DIP/01read-an-image-file.png
DIP/01read-an-image-file.py
DIP/02convert-a-grayscale-image-into-a-binary-image.png
DIP/02convert-a-grayscale-image-into-a-binary-image.py
DIP/03program-to-extract-the-red-green-and-blue-color-planes-of-an-image.png
DIP/03program-to-extract-the-red-green-and-blue-color-planes-of-an-image.py
DIP/04program-to-convert-a-grayscale-image-into-its-negative.png
DIP/04program-to-convert-a-grayscale-image-into-its-negative.py
DIP/05.1program-to-perform-log-transformation-on-a-grayscale-image.png
DIP/05.1program-to-perform-log-transformation-on-a-grayscale-image.py
DIP/05program-to-perform-log-and-power-law-transformations-on-a-grayscale-image.py
Original-images-first-column-observed-images-corrupted-by-blur-and-Poisson-noise.ppm
DIP/11program-to-perform-histogram-matching-of-a-grayscale-image-using-a-reference-image.p
DIP/05.2program-to-perform-power-law-transformation-on-a-grayscale-image.py
DIP/09program-to-display-the-histogram-of-a-grayscale-image.png
DIP/09program-to-display-the-histogram-of-a-grayscale-image.py
DIP/06program-to-perform-intensity-level-slicing-on-a-grayscale-image.py
DIP/07program-to-perform-bit-plane-slicing-on-a-grayscale-image.py
DIP/07Figure.png
DIP/08program-to-perform-contrast-stretching-on-a-grayscale-image.py
DIP/10program-to-perform-histogram-equalization-on-a-grayscale-image.py
DIP/11program-to-perform-histogram-matching-of-a-grayscale-image-using-a-reference-image.png
DIP/13program-to-apply-a-Laplacian-kernel-for-filtering-a-grayscale-image.py
DIP/12program-to-apply-a-mean-filter-to-a-grayscale-image.png
DIP/13program-to-apply-a-Laplacian-kernel-for-filtering-a-grayscale-image.png
DIP/12program-to-apply-a-mean-filter-to-a-grayscale-image.py
DIP/15program-to-detect-the-edges-of-a-grayscale-image-using-the-Sobel-operator.py
DIP/14program-to-apply-the-Roberts-Cross-gradient-operator-to-detect-the-edges-of-a-grayscale-image.py
DIP/14program-to-apply-the-Roberts-Cross-gradient-operator-to-detect-the-edges-of-a-grayscale-image.png
DIP/reference-image.png
DIP/16program-to-detect-the-edges-of-a-grayscale-image-using-the-Canny-operator.pngc:\Users\Sumanta Bhattacharya\OneDrive\Documents\Desktop\PCA-1(6th Sem) Images.docx
DIP/17program-to-detect-the-edges-of-a-grayscale-image-using-the-Prewitt-operator.py
DIP/17program-to-detect-the-edges-of-a-grayscale-image-using-the-Prewitt-operator.png
DIP/16program-to-detect-the-edges-of-a-grayscale-image-using-the-Canny-operator.py
DIP/11program-to-perform-histogram-matching-of-a-grayscale-image-using-a-reference-image.py
DIP/16program-to-detect-the-edges-of-a-grayscale-image-using-the-Canny-operator.png
DIP/PCA-1-6th-Sem.md
DIP/PCA-1(6th Sem) Images.docx
DIP/PCA-1(6th Sem).docx
DSA/1000133622.pdf
DIP/TOC_CA-2/WhatsApp Image 2025-05-12 at 17.07.30_f46b6aa4.jpg
DIP/TOC_CA-2/WhatsApp Image 2025-05-12 at 17.07.31_6e9533c7.jpg
DIP/1000133622.pdf
DIP/TOC_CA-2/WhatsApp Image 2025-05-12 at 17.07.31_8dfc956d.jpg
DIP/Python program to detect the lines in a grayscale image using the Hough transform.png
DIP/Python program to detect the lines in a grayscale image using the Hough transform.py
DIP/Python program to apply motion blur filtering to a grayscale image.py
